/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 12px;
}
body {
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background: url("/img/bg3.jpg") no-repeat center center fixed;
  background-size:  cover;
  height: 100vh;
  /* border: 1px solid red; */
}


/******************************************
/* LAYOUT
/*******************************************/

aside,
section,
main{
  /* border: 1px solid black; */
  color: white;
  font-weight: bold;
}

h1{
  color: white;
  font-weight: bold;
}
.rouletteWheel{
  height: 50%;
  /* width: 100%; */
  background: url("/img/wheel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  contain;
}
.rouletteWheel div{
  height: 50%;
  color: white;
}
.rouletteWheel h3{
  text-align: center;
}
.chips{
height: 35%;
}
.chips div{
height: 50%;
display: flex;
justify-content: center;
}

img{
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  position: relative;
}

img:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
section div{
  /* border: 1px solid black; */
  margin-top: 1%;
}




.tableWrapper{
  /* border: 1px solid black; */
  width: 70%;
  position: relative;
  margin-top: 1%;
  height: 500px;
  /* visibility: hidden; */
}
.scrollAssist{
  overflow: auto;
  height: 100%;
}
.moodTable{
  width: 100%;
}
.tableWrapper tr{
  border-bottom: 1px solid lightgray;
}
.tableBody tr{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
.tableBody tr:first-child{
  margin-top: 2%;
}
.tableBody td{
  width: 100%;
  text-align: center;
  height: 10%;
}
table{
  background-color: rgba(255, 255, 255, 0.55);
}
table thead th{
  background-color: white;
  width: 100%;
  display: block;
  color: black;
}

.headtr{
  position: absolute;
  top: 0;
  left:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#ball {
  /* position: absolute; */
  /* top: 0%; */
  /* left: 50%; */
  /* max-width: 14%; */
  /* max-height: auto; */
  /* margin-left: -25px; */
  /* margin-top: -25px; */
}

#ball-out {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */

  /* max-width: 40%; */
  /* height: auto; */
  /* margin-top: -200px;
  margin-left: -200px; */

  /* border-width: 6px;
  border-style: solid;
  border-color: black;
  border-radius: 50%; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(1500deg);
       -moz-transform: rotate(1500deg);
        -ms-transform: rotate(1500deg);
         -o-transform: rotate(1500deg);
            transform: rotate(1500deg);
  }
}


#ball-out {

  -webkit-animation: spin-right 2s linear;
     -moz-animation: spin-right 2s linear;
      -ms-animation: spin-right 2s linear;
       -o-animation: spin-right 2s linear;
          animation: spin-right 2s linear;
}

@media (min-width: 900px){
}
